/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
 @tailwind base;
 @tailwind components;
 @tailwind utilities;
 
 html {
   width: 100%;
   height: 100%;
   font-family: 'Comfortaa', 'Roboto', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
     'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
     'Segoe UI Symbol', 'Noto Color Emoji';
 }
 
 body {
   width: 100%;
   height: 100%;
   padding: 0;
   line-height: inherit;
 }
 
 .emoji {
   font-family: 'Noto Color Emoji';
 }
 